@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.blog-card {
  background-color: white;
  padding: 24px;
  margin: 24px;
  border-radius: 20px;
  max-width: 350px;
  box-shadow: hsl(0, 0%, 7%) 8px 8px 0 0;
}

.card-banner img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.category-badge {
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  background-color: hsl(47, 88%, 63%);
  padding: 4px 12px;
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.card-meta time {
  display: block;
  color: hsl(0, 0%, 7%);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
}

.card-title {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 12px;
  transition: color 0.3s ease-in;
}

.card-title:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}

.card-excerpt {
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 24px;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 12px;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
}

.card-author img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}